<h2>ToDo App</h2>

<input id="newNotes" />
<button (click)="addNotes()">Add Notes</button>

<h3 *ngFor="let note of notes">
  <b>* {{ note.description }}</b>
  <button (click)="deleteNotes(note.id)">Delete Notes</button>
</h3>

<p>{{ test }}</p>
<button (click)="switchName()">switch name</button>

<p>{{ counterbutton }}</p>
<button (click)="increaseButton()">Increace</button>

<p>{{ message }}</p>
<input [(ngModel)]="input1" />
<input [(ngModel)]="input2" />
<button (click)="sayMessage()">click</button>

<p>start</p>
<p>{{ testValue }}</p>
<input type="text" [(ngModel)]="testValue" />
